@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.static-slider3 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
    padding: 15%;
    width: 100%;
}

.backgroundimg {
  background-image: url('../Ourpartner/images/145942410_101923755270718_4368506610777561779_n.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.static-slider3 h1, .static-slider3 h2, .static-slider3 h3, .static-slider3 h4, .static-slider3 h5, .static-slider3 h6 {
  color: black;
  font-weight: bold;
}

.static-slider3 .title {
	font-weight: 300;
  line-height: 50px;
	font-size: 36px;
}

.static-slider3 .title span {
	border-bottom: 3px solid #2cdd9b;
}

.static-slider3 .text-success-gradiant {
	  background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.static-slider3 .btn-success-gradiant {
		background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.static-slider3 .btn-success-gradiant:hover {
		background: #1dc8cc;
    background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
    background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);	
}

.static-slider3 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

@media (max-width:767px) {
	.static-slider3 .title{
		line-height: 30px;
		font-size: 24px;
	}
}